body {
    display: flex;
    justify-content: center;
}

.feed-container{
    width: 50%;
    background-color: aqua;
}

.navbar{
    background-color: bisque;
}

.icon{
    width: 75px;
    height: 75px;
}