body {
    /* Style */
    background-color: rgb(61, 61, 61);
}

.feed-container {
    /* Positionnement */
    /* Style */
    background-color: aqua;
}

.row {
    /* Positionnement */
    display: flex;
    flex-direction: row;
}

.nav {
    /* Style */
    background-color: bisque;
}

.icon {
    /* Positionnement */
    width: 100px;
    height: auto;
}

.feed {
    /* Style */
    border-bottom: 2px solid black;
}


.feed img {
    /* Positionnement */
    width: 75px;
    height: 75px;
}

.modalPost {
    /* Positionnement */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 40%;

    /* Style */
    background-color: wheat;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.formPost {
    /* Positionnement */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.textAreaPost {
    /* Positionnement */
    resize: none;
    width: 100%;
    height: 90%;
    top: 0px;

    /* Style */
    background-color: transparent;
    border: none;
    padding: 10px;
}

.textAreaPost:focus {
    /* Style */
    outline: none;
}

.postSubmit {
    /* Positionnement */
    width: 25%;
    height: 10%;

    /* Style */
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.postSubmit:hover {
    /* Style */
    background-color: #63edff;
}